@media screen and(min-width: 768px) {
  .container {
    padding: 0 6rem;
  }

  header {
    @include textfont;

    .logo {
      font-family: $logo-font;
      font-size: 1.5rem;
      color: $black;
    }

    .nav-social-links {
      display: flex;
      background: $black;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;

      .social-links {
        margin-left: 1.5rem;
        color: $white;
      }
    }

    nav {
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
      background: $white;
      box-shadow: 0 4px 2px -2px #e6e6e6;

      .nav-links-container {
        display: flex;
        width: 55%;
        font-size: 0.9rem;

        a {
          color: $black;
        }

        .active {
          color: $red;
        }

        .donate-link {
          border: 3px solid $red;
          padding: 1rem 1.5rem;
        }
      }
    }

    .hero-area {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    .menu-icon-container {
      display: none;
    }
  }

  #program {
    @include paddingbgTb;

    .program-grid {
      margin-top: 1.5rem;
      grid-template-columns: repeat(5, 1fr);
    }

    .program-content {
      flex-direction: column;
      text-align: center;
    }

    .program-content * {
      margin: 1rem auto;
    }

    a {
      background: transparent;
      text-decoration: underline;
      padding-bottom: 2rem;
    }
  }

  #speakers {
    .speaker-section {
      grid-template-columns: repeat(2, 1fr);

      .speaker-card {
        padding: 0;
        width: 80%;
        margin-bottom: 2rem;

        figure {
          margin-right: 1rem;
        }

        .speaker-details {
          width: 60%;
          padding: 0;
        }
      }
    }
  }

  .partners {
    @include paddingbgTb;

    div {
      grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    }
  }

  .tickets-table {
    @include paddingbgTb;

    div {
      @include paddingbgTb;
    }

    height: 80vh;
    background: $dark-grey;

    p {
      margin-top: 4rem;
      font-size: 0.9rem;
      width: 80%;
    }
  }

  table {
    max-width: 1000px;
  }

  tr,
  th {
    padding: 100rem;
  }

  .lunch {
    @include paddingbgTb;

    h3 {
      padding: 1rem;
    }
  }

  .lunch-table {
    padding-top: 0;
    max-width: 700px;

    input {
      margin-left: 0.4rem;
    }
  }

  .lunch button {
    width: 30%;
  }

  .about-heading {
    max-width: 700px;
    width: 100%;
    font-size: 2.5rem;
    text-align: left;
  }

  .more-info {
    @include paddingbgTb;
  }

  .about-content {
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
  }

  div {
    @include paddingbgTb;
  }

  #venue {
    @include paddingbgTb;

    .grid-container {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      font-size: 0.9rem;
    }

    img {
      width: 100%;
    }
  }

  #past-events {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }

  footer {
    @include paddingbgTb;

    height: 20vh;

    background: $footer-grey;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    div {
      padding: 0;
      p {
        padding-bottom: 1rem;
      }
    }
  }
}
