@media screen and(min-width: 768px) {
  .container {
    padding: 0 6rem;
  }

  header {
    @include textfont;

    .logo {
      font-family: $logo-font;
      font-size: 1.5rem;
      color: $black;
    }

    .nav-social-links {
      display: flex;
      background: $black;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;

      .social-links {
        margin-left: 1.5rem;
        color: $white;
      }
    }

    nav {
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
      background: $white;
      box-shadow: 0 4px 2px -2px #e6e6e6;

      .nav-links-container {
        display: flex;
        width: 55%;
        font-size: 0.9rem;

        a {
          color: $black;
        }

        .active {
          color: $red;
        }

        .donate-link {
          border: 3px solid $red;
          padding: 1rem 1.5rem;
        }
      }
    }

    .hero-area {
      padding-top: 8rem !important;
      padding-bottom: 8rem;
    }

    .menu-icon-container {
      display: none;
    }
  }

  #program {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .program-grid {
      margin-top: 1.5rem;
      grid-template-columns: repeat(5, 1fr);
    }

    .program-content {
      flex-direction: column;
      text-align: center;
    }

    .program-content * {
      margin: 1rem auto;
    }

    a {
      background: transparent;
      text-decoration: underline;
      padding-bottom: 2rem;
    }
  }

  #speakers {
    .speaker-section {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4rem;
      margin-bottom: 2rem;
    }
  }

  #partners {
    padding-top: 2rem;
    padding-bottom: 2rem;

    div {
      grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    }
  }
  footer {
    grid-template-columns: 1fr 3fr;

    a {
      padding-left: 4rem;
    }
  }

  .tickets-table {
    @include paddingbgTb;
    div {
      @include paddingbgTb;
    }

    height: 80vh;
    background: $dark-grey;

    p {
      margin-top: 4rem;

      font-size: 0.9rem;
      width: 80%;
    }
  }

  table {
    max-width: 1000px;
  }

  tr,
  th {
    padding: 100rem;
  }

  .lunch {
    @include paddingbgTb;
  }

  .lunch-table {
    max-width: 700px;

    input {
      margin-left: 0.4rem;
    }
  }
  .lunch button {
    width: 30%;
  }
}
