h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
}

.active {
  color: $red;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.social-icons {
  display: block;
  width: 1.2rem;
}

.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.grid-container {
  display: grid;
}

@mixin textfont {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@mixin headingfont {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
