.container {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
}

.social-icons {
  display: block;
  width: 1.2rem;
}

.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.grid-container {
  display: grid;
}

@mixin textfont {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@mixin headingfont {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
