$dark-grey: #d3d3d3;
$red: #ec5242;
$black: #272a31;
$blacka: #4d4d4e;
$grey: #f7f7f7;
$table-top: #f6f6f6;
$table-grey: #dfdfdf;
$footer-grey: #e4eaed;
$border-grey: #efefef;
$white: #fff;
$logo-font: "Dancing Script", cursive;
$page-font: lato, sans-serif;
$font-size: 0.8rem;
$main-font:1rem;
$padding-size:1.5rem;
$d-none:none;
