@import "resets";
@import "variables";
@import "utilities";

header {
  .nav-social-links {
    display: none;
  }

  .logo {
    font-family: $logo-font;
    font-size: 1.8rem;
    color: $black;
  }

  nav {
    .nav-social-links,
    .nav-links-container {
      display: none;
    }

    padding: 4rem;
  }

  .menu-icon-container {
    width: 1.5rem;
  }

  .hero-area {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(50, 55, 100, 0.9)),
      url("../assets/conference.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
      @include textfont;

      font-size: 1.5rem;
      letter-spacing: 2px;
    }

    h2 {
      @include headingfont;

      font-size: 3.5rem;
      background: linear-gradient(#eee, #333);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 2rem 0;
      width: 95%;
    }

    .description {
      font-size: 1.1rem;
      width: 70%;
      margin-bottom: 4rem;
      color: $white;
    }
  }

  .date {
    @include headingfont;

    font-size: 2rem;
  }
}

#program {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: url(../assets/sectionbg.png);

  .program-grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    @include textfont;
  }

  .program-content {
    background: $blacka;
    padding: 1rem;

    h3 {
      color: $red;
    }
  }

  .program-content * {
    margin-right: 2rem;
  }

  a {
    display: block;
    background: $red;
    width: 70%;
    padding: 1rem 1.5rem;
  }
}

.program-icons {
  width: 3rem;
}

#speakers {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .speaker-section {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;

    .speaker-details {
      margin-left: 2rem;
    }

    .img-1 {
      background: url(../assets/Alex-Foster.jpeg);
      @include speakerImg;
    }
    .img-2 {
      background: url(../assets/Chaka-kann.jpg);
      @include speakerImg;
    }
    .img-3 {
      background: url(../assets/Gwen-Steven.jpg);
      @include speakerImg;
    }
    .img-4 {
      background: url(../assets/Hannah-Lann.jpeg);
      @include speakerImg;
    }
    .img-5 {
      background: url(../assets/maria-delvin.jpg);
      @include speakerImg;
    }
    .img-6 {
      background: url(../assets/steve-harris.jpg);
      @include speakerImg;
    }
  }
}


@import "mediaqueries";
