@import "resets";
@import "variables";
@import "utilities";

header {
  .nav-social-links {
    display: none;
  }

  nav {
    .nav-social-links,
    .nav-links-container {
      display: none;
    }

    padding: 4rem;
  }

  .menu-icon-container {
    width: 1.5rem;
  }

  .seminar-title {
    @include headingfont;

    font-size: 3.5rem;
    background: linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2rem 0;
    width: 95%;
  }

  .hero-area {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(50, 55, 100, 0.9)),
      url("../assets/conference.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
      @include textfont;

      font-size: 1.5rem;
      letter-spacing: 2px;
    }

    .description {
      font-size: 1.1rem;
      width: 70%;
      margin-bottom: 4rem;
      color: $white;
    }
  }

  .date {
    @include headingfont;

    font-size: 2rem;
  }
}

#program {
  @include paddingbgTb;
  background: url(../assets/sectionbg.png);

  .program-grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    @include textfont;
  }

  .program-content {
    background: $blacka;
    padding: 1rem;

    h3 {
      color: $red;
    }
  }

  .program-content * {
    margin-right: 2rem;
  }

  a {
    display: block;
    background: $red;
    width: 70%;
    padding: 1rem 1.5rem;
  }
}

.program-icons {
  width: 3rem;
}

#speakers {
  @include paddingsmTb;

  .speaker-section {
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    .speaker-details {
      margin-left: 1rem;
    }

    .img-1 {
      background: url(../assets/Alex-Foster.jpeg);

      @include speakerImg;
    }

    .img-2 {
      background: url(../assets/Chaka-kann.jpg);

      @include speakerImg;
    }

    .img-3 {
      background: url(../assets/Gwen-Steven.jpg);

      @include speakerImg;
    }

    .img-4 {
      background: url(../assets/emily-miles.jpg);

      @include speakerImg;
    }

    .img-5 {
      background: url(../assets/maria-delvin.jpg);

      @include speakerImg;
    }

    .img-6 {
      background: url(../assets/steve-harris.jpg);

      @include speakerImg;
    }
  }
}

.partners {
  background: $blacka;
  margin: 2rem 0 0 0;

  @include paddingsmTb;

  div {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-items: center;
  }

  img {
    width: 10rem;
  }
}

footer {
  @include paddingsmTb;
  height: 30vh;
  background: $footer-grey;
  grid-template-columns: 1fr;
}

.tickets-table {
  @include paddingsmTb;

  height: 70vh;
  background: $table-grey;

  div {
    @include paddingsmTb;
  }

  table {
    margin-top: 1rem;
    width: 100%;

    input {
      display: block;
      margin: 0 auto;
    }

    tr {
      background: $white;
    }

    .table-heading {
      background: $table-grey;
    }
  }

  th,
  td {
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding: 0.5rem;
    font-size: 0.7rem;
    text-align: center;
  }

  .border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
  }

  .border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }
}

.lunch {
  @include paddingsmTb;
}

.lunch-table {
  border: 1px solid $table-grey;
  margin: 4rem auto;

  input {
    margin-left: 0.4rem;
  }

  h3 {
    background: $table-top;
  }
  div {
    padding: 1rem;
  }
}

.lunch button {
  display: block;
  width: 100%;
  border: 0;
  padding: 1rem;
  font-size: 1rem;
}

.about-heading {
  width: 100%;
}

.more-info {
  background: $grey;
  @include paddingsmTb;

  .about-content {
    padding: 2rem;
    line-height: 2rem;
    color: $blacka;
  }
  div {
    @include paddingsmTb;
  }
}

#venue {
  @include paddingsmTb .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  img {
    margin: 0.8rem 0;
  }
  a {
    margin: 1rem 0;
  }
}

#past-events {
  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    div {
      background: linear-gradient(
          rgba(134, 36, 22, 0.7),
          rgba(134, 36, 22, 0.7)
        ),
        url("/assets/conference1.jpeg") center center;
      @include pastimg;
    }
    .past-img2 {
      background: linear-gradient(
          rgba(134, 36, 22, 0.7),
          rgba(134, 36, 22, 0.7)
        ),
        url("/assets/confence-2.jpeg") center center;
      @include pastimg;
    }
  }
  .year {
    font-size: 3rem;
    font-weight: 700;
  }
}

@import "mediaqueries";
